//- index.jade This are a simple form app
extends ./layout.jade
block row-content
 div.row.image-options
  div.col-xs-12
   h3 TimeSheet
   form(id='gtlist', metod='post' action='/getTimeSheet')
    div(data-role='fieldcontain')
     div.form-group
      label(for='fdate') From Date
      input(id='fdate',class='form-control',type='text',value='',placeholder='YYYYMMDD',name='fdate')
     div.form-group
      label(for='tdate') To Date
      input(id='tdate',class='form-control',type='text',value='',placeholder='YYYYMMDD',name='tdate')
     div.form-group
      label(for='empnrf') From Employe Number
      input(id='empnrf',class='form-control',type='text',value='00001809',placeholder='00000000',name='empnrf')
     div.form-group
      label(for='empnrt') To Employe Number
      input(id='empnrt',class='form-control',type='text',value='00001809',placeholder='00000000',name='empnrt')
     div.form-group
      button(type='submit',value='Get timesheet') Get TimeSheet
   div.col-xs-12(style='border:1px dashed black')
   h3 TimeSheet
   form(id='slist', class='form-inline', action='#' ,method='post')
    div(data-role='fieldcontain')
     div.form-group
      label(for='profile') Profile
      select(id='profile', class='form-control')
       option 20150610
     div.form-group
      label(for='wdate') WorkDate
      input(id='wdate', class='form-control',type='text',value='',placeholder='YYYMMDD',name='wdate')
     div.form-group
      label(for='empnr') Employee Nr
      input(id='empnr', class='form-control',type='text',value='00001809',placeholder='',name='empnr')
     div.form-group
      label(for='scctr') Send CCTR
      input(id='scctr', class='form-control',type='text',value='0000004300',placeholder='',name='scctr')
     div.form-group
      input(id='stext', class='form-control',type='text',value='',placeholder='Short text',name='stext')
     div.form-group
      label(for='stime') Start Time
      input(id='stime', class='form-control',type='text',value='08:00:00',placeholder='',name='stime')
     div.form-group
      label(for='etime') End Time
      input(id='etime', class='form-control',type='text',value='16:00:00',placeholder='',name='etime')
     div.form-group
      button(type='submit',value='Send timesheet') Send TimeSheet
   div.col-lg-12()
    h3 Output
     div.col-lg-12(id='messages')
   div.col-lg-14
     table(id='tabell',style= 'border-collapse: collapse; border: 1px solid black;',border='1')
        div.col-lg-12.col-xs-12
          div.well.row.result
            div.col-lg-12.col-xs-12.loading
              img(src='images/watson.gif')
            div.col-lg-12.col-xs-12.error.message
              h4 Error processing the request.  Please try again.
            div.col-lg-12.col-xs-12.empty-results.message
              h4.empty-text
            div.col-lg-12.col-xs-12
              table.data
          div.well.row.status.text-center(style='display:none;')
          